In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [3]:
df=pd.read_csv('datasets//covid_toy.csv')

In [7]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [14]:
from sklearn.compose import ColumnTransformer

In [28]:
trns=ColumnTransformer(transformers=[('t1',SimpleImputer(),['fever']),
                                     ('t2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
                                     ('t3',OneHotEncoder(drop='first'),['gender','city'])],remainder='passthrough')

In [32]:
a=trns.fit_transform(df)

In [34]:
x=pd.DataFrame(a)

In [38]:
x.head()

       0    1    2    3    4    5   6    7
0  103.0  0.0  1.0  0.0  1.0  0.0  60   No
1  100.0  0.0  1.0  1.0  0.0  0.0  27  Yes
2  101.0  0.0  1.0  1.0  0.0  0.0  42   No
3   98.0  0.0  0.0  0.0  1.0  0.0  31   No
4  101.0  0.0  0.0  0.0  0.0  1.0  65   No

In [9]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

## practiced

In [14]:
from sklearn.compose import ColumnTransformer

In [20]:
transformer=ColumnTransformer([
    ('t1',OneHotEncoder(drop='first'),['gender','city']),
    ('t2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough'])
] ,remainder='passthrough')

In [22]:
transformer.fit_transform(df)

array([[1.0, 0.0, 1.0, 0.0, 0.0, 60, 103.0, 'No'],
       [1.0, 1.0, 0.0, 0.0, 0.0, 27, 100.0, 'Yes'],
       [1.0, 1.0, 0.0, 0.0, 0.0, 42, 101.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 31, 98.0, 'No'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 65, 101.0, 'No'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 84, nan, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 1.0, 14, 101.0, 'No'],
       [0.0, 0.0, 0.0, 1.0, 1.0, 20, nan, 'Yes'],
       [0.0, 0.0, 0.0, 0.0, 1.0, 19, 100.0, 'No'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 64, 101.0, 'No'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 75, nan, 'No'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 65, 98.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 25, 99.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 64, 102.0, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 51, 104.0, 'No'],
       [1.0, 0.0, 1.0, 0.0, 1.0, 70, 103.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 69, 103.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 40, 98.0, 'No'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 64, 98.0, 'Yes'],
       [0.0, 0.0, 0.0, 0.0, 1.0, 42, nan, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 1.0, 12, 98.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 73, 98.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 71, 98.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 80, 98.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 13, 100.0, 'No'],
       [1.0, 0.0, 0.0, 1.0, 0.0, 23, nan, 'No'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 19, 100.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 33, 102.0, 'No'],
       [1.0, 0.0, 1.0, 0.0, 0.0, 16, 104.0, 'No'],
       [0.0, 0.0, 0.0, 1.0, 1.0, 34, nan, 'Yes'],
       [1.0, 1.0, 0.0, 0.0, 0.0, 15, 101.0, 'Yes'],
       [1.0, 0.0, 1.0, 0.0, 0.0, 83, 103.0, 'No'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 34, 101.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 26, 98.0, 'No'],
       [1.0, 0.0, 0.0, 1.0, 0.0, 74, 102.0, 'Yes'],
       [0.0, 0.0, 0.0, 0.0, 1.0, 82, 102.0, 'No'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 38, 101.0, 'No'],
       [1.0, 0.0, 1.0, 0.0, 0.0, 55, 100.0, 'No'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 49, 101.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 50, 103.0, 'No'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 49, 102.0, 'No'],
       [1.0, 0.0, 1.0, 0.0, 0.0, 82, nan, 'Yes'],
       [1.0, 1.0, 0.0, 0.0, 0.0, 27, 100.0, 'Yes'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 22, 99.0, 'Yes'],
       [1.0, 1.0, 0.0, 0.0, 1.0, 20, 102.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 72, 99.0, 'No'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 19, 101.0, 'No'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 18, 104.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 1.0, 66, 99.0, 'No'],
       [1.0, 0.0, 0.0, 1.0, 0.0, 44, 104.0, 'No'],
       [1.0, 1.0, 0.0, 0.0, 0.0, 19, 101.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 11, 100.0, 'Yes'],
       [0.0, 0.0, 0.0, 0.0, 1.0, 47, 100.0, 'Yes'],
       [1.0, 1.0, 0.0, 0.0, 0.0, 83, 98.0, 'Yes'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 60, 99.0, 'Yes'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 81, 101.0, 'Yes'],
       [1.0, 0.0, 1.0, 0.0, 1.0, 71, nan, 'No'],
       [0.0, 0.0, 0.0, 0.0, 1.0, 49, 99.0, 'No'],
       [1.0, 0.0, 0.0, 1.0, 1.0, 23, 98.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 6, 104.0, 'Yes'],
       [0.0, 0.0, 0.0, 0.0, 1.0, 24, 102.0, 'Yes'],
       [0.0, 0.0, 0.0, 1.0, 1.0, 81, 98.0, 'No'],
       [0.0, 0.0, 0.0, 0.0, 1.0, 56, 104.0, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 10, 100.0, 'No'],
       [1.0, 0.0, 0.0, 1.0, 0.0, 42, 104.0, 'No'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 69, 102.0, 'No'],
       [1.0, 0.0, 1.0, 0.0, 0.0, 51, 104.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 65, 99.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 54, 104.0, 'No'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 73, 103.0, 'No'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 68, 101.0, 'No'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 75, 104.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 83, 101.0, 'No'],
       [1.0, 0.0, 1.0, 0.0, 1.0, 34, 98.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 34, 104.0, 'No'],
       [1.0, 0.0, 1.0, 0.0, 0.0, 5, 102.0, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 80, 100.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 8, 101.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 11, 100.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 48, 103.0, 'Yes'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 14, 99.0, 'Yes'],
       [1.0, 1.0, 0.0, 0.0, 0.0, 65, 99.0, 'No'],
       [1.0, 0.0, 1.0, 0.0, 0.0, 24, 98.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 17, 104.0, 'No'],
       [0.0, 0.0, 0.0, 1.0, 1.0, 69, 98.0, 'No'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 16, 103.0, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 25, 104.0, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 1.0, 47, 101.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 5, 100.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 1.0, 46, 103.0, 'No'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 59, 99.0, 'No'],
       [1.0, 1.0, 0.0, 0.0, 0.0, 38, nan, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 82, 102.0, 'No'],
       [1.0, 0.0, 1.0, 0.0, 0.0, 27, 100.0, 'Yes'],
       [1.0, 0.0, 1.0, 0.0, 1.0, 79, nan, 'Yes'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 12, 104.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 51, 101.0, 'Yes'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 20, 101.0, 'No'],
       [0.0, 0.0, 0.0, 1.0, 1.0, 5, 98.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 10, 98.0, 'Yes']], dtype=object)