In [1]:
import pandas as pd
import seaborn as sns

In [57]:
df=sns.load_dataset('titanic')

In [59]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
sex1             0
sex2             0
dtype: int64

In [65]:
from sklearn.impute import SimpleImputer

In [67]:
si=SimpleImputer()

In [ ]:
si.fit

In [47]:
pd.get_dummies(df,columns=['sex','embarked'],drop_first=True).head()

,survived,pclass,age,sibsp,parch,fare,class,who,adult_male,deck,embark_town,alive,alone,sex_male,embarked_Q,embarked_S
0,0,3,22.0,1,0,7.2500,Third,man,True,NaN,Southampton,no,False,True,False,True
1,1,1,38.0,1,0,71.2833,First,woman,False,C,Cherbourg,yes,False,False,False,False
2,1,3,26.0,0,0,7.9250,Third,woman,False,NaN,Southampton,yes,True,False,False,True
3,1,1,35.0,1,0,53.1000,First,woman,False,C,Southampton,yes,False,False,False,True
4,0,3,35.0,0,0,8.0500,Third,man,True,NaN,Southampton,no,True,True,False,True

In [27]:
x=df['sex']
x=pd.DataFrame(x)

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [43]:
ohe=OneHotEncoder()

In [55]:
df[['sex1','sex2']]=ohe.fit_transform(x).toarray()

In [7]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [11]:
df['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [17]:
pd.get_dummies(df,columns=['sex','who'],drop_first=True).head()

,survived,pclass,age,sibsp,parch,fare,embarked,class,adult_male,deck,embark_town,alive,alone,sex_male,who_man,who_woman
0,0,3,22.0,1,0,7.2500,S,Third,True,NaN,Southampton,no,False,True,True,False
1,1,1,38.0,1,0,71.2833,C,First,False,C,Cherbourg,yes,False,False,False,True
2,1,3,26.0,0,0,7.9250,S,Third,False,NaN,Southampton,yes,True,False,False,True
3,1,1,35.0,1,0,53.1000,S,First,False,C,Southampton,yes,False,False,False,True
4,0,3,35.0,0,0,8.0500,S,Third,True,NaN,Southampton,no,True,True,True,False

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [61]:
ohe=OneHotEncoder()

In [63]:
ohe.fit(pd.DataFrame(df['sex']))

OneHotEncoder()

In [67]:
df[['sexmale','sexfemale']]=ohe.transform(pd.DataFrame(df['sex'])).toarray()

In [69]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,sexmale,sexfemale
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0.0,1.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1.0,0.0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,1.0,0.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1.0,0.0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0.0,1.0

<891x2 sparse matrix of type '<class 'numpy.float64'>'
	with 891 stored elements in Compressed Sparse Row format>